{% extends 'base.html.twig' %}

{% block title %}{{ 'title.bus_company_name'|trans }}{% endblock %}

{% block body %}
    <div class="container">
        <div class="searchlink">
            <a href="{{ 'search' }}">{{ 'text.search_for'|trans }}</a>
        </div>
    </div>
{% endblock %}
