{% extends 'base.html.twig' %}

{% block title %}bus company name{% endblock %}

{% block body %}
    <div class="container">
        <div class="searchlink">
            <a href="#">Wyszukaj połączenie</a>
        </div>
    </div>
{% endblock %}
