{% extends 'base.html.twig' %}

{% block title %}
    Bus lines
{% endblock %}
{% block body %}
    <h1>Bus lines</h1>
    {% if data is defined and data|length %}

        <table class="table table-striped">
            <thead>
            <tr>
                <th>Id</th>
                <th>Number</th>
                <th scope="col">
                    Actions
                </th>
            </tr>
            </thead>
            <tbody>
            {% for item in data %}
                <tr>
                    <td>{{ item.id }}</td>
                    <td>{{ item.number }}</td>
                    <td>&nbsp;</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

    {% else %}
        <p>
            Empty list.
        </p>
    {% endif %}

{% endblock  %}