{% extends 'base.html.twig' %}

{% block title %}bus company name{% endblock %}

{% block body %}
    <div class="container">
        <div class="searchbar">
            Tu jest wyszukiwarka
        </div>
    </div>
{% endblock %}
