{% extends 'base.html.twig' %}

{% block title %}{{ 'title.bus_company_name'|trans }}{% endblock %}

{% block body %}
    <div class="container">

        <div class="searchlink" id="searchbar">
            {% block form_label -%}
                <label for="stop" class="firststop">Podaj przystanek początkowy</label>
            {% endblock form_label -%}
            {{ form(form) }}

        </div>
    </div>
{% endblock %}
