{% extends 'base.html.twig' %}

{% block title %}{{ 'title.bus_company_name'|trans }}{% endblock %}

{% block body %}
    <div class="container">
        <div class="searchbar">
            {{ form(form) }}
        </div>
    </div>
{% endblock %}
