.searchlink a, .stops_btn a, .lines_btn a, .routes_btn a, .users_btn a {
    color: #525252;
    text-decoration: none;
}

.searchlink, .stops_btn, .lines_btn, .routes_btn, .users_btn {
    text-align: center;
    font-size: xx-large;
    border-width: thin;
    border-color: lightblue;
    border-style: solid;
    padding: 20px;
    margin: 5px;
}

.stops_btn {
    grid-area: stops;
}

.lines_btn {
    grid-area: lines;
}

.routes_btn {
    grid-area: routes;
}

.users_btn {
    grid-area: users;
}

.searchlink {
    grid-area: searchlink;
}

.searchlink:hover, .stops_btn:hover, .lines_btn:hover, .routes_btn:hover, .users_btn:hover {
    background-color: hotpink;
}

.container {
    min-height: 100%;
    display: grid;
    grid-template-columns:30% 40% 30%;
    grid-template-rows:20% 60% 20%;
    grid-template-areas:
            ". . ."
            ". searchlink ."
            ". . .";
}

.container_admin {
    min-height: 100%;
    display: grid;
    grid-template-columns:30% 40% 30%;
    grid-template-rows:20% 15% 15% 15% 15% 20%;
    grid-template-areas:
            ". . ."
            ". stops ."
            ". lines ."
            ". routes ."
            ". users ."
            ". . .";
}
