body div{
    color: #2f2c3d;
}

.searchlink a, .stops_btn a, .lines_btn a, .routes_btn a, .users_btn a, .tickets_btn a, .viewstops a, .viewlines a {
    color: #2f2c3d;
    text-decoration: none;
}

.searchlink, .stops_btn, .lines_btn, .routes_btn, .users_btn, .tickets_btn, .viewstops, .viewlines {
    text-align: center;
    font-size: medium;
    border-width: thin;
    border-color: #d3bbbb;
    border-style: solid;
    padding: 20px;
    margin: 5px;
}

.stops_btn {
    grid-area: stops;
}

.lines_btn {
    grid-area: lines;
}

.routes_btn {
    grid-area: routes;
}

.users_btn {
    grid-area: users;
}

.tickets_btn {
    grid-area: tickets;
}

.searchlink {
    grid-area: searchlink;
}

#searchbar {
    background-color: #d3bbbb;
}

#searchbar input:hover {
    background-color: white;
}

.searchlink:hover, .stops_btn:hover, .lines_btn:hover, .routes_btn:hover, .users_btn:hover, .tickets_btn:hover, .viewstops:hover, .viewlines:hover {
    background-color: #d3bbbb;
}

.firststop {
    grid-area: firststop;
}

.viewstops {
    grid-area: viewstops;
}

.viewlines {
    grid-area: viewlines;
}

.container {
    min-height: 100%;
    display: grid;
    grid-template-columns:30% 40% 30%;
    grid-template-rows:20% 15% 15% 15% 15% 20%;
    grid-template-areas:
            ". . ."
            ". firststop ."
            ". searchlink ."
            ". viewstops ."
            ". viewlines ."
            ". . .";
}

.container_admin {
    min-height: 100%;
    display: grid;
    grid-template-columns:30% 40% 30%;
    grid-template-rows:20% 12% 12% 12% 12% 12% 20%;
    grid-template-areas:
            ". . ."
            ". stops ."
            ". lines ."
            ". routes ."
            ". users ."
            ". tickets ."
            ". . .";
}

button a {
    color: white;
}

.buttonstyle {
    margin-top: 10px;
    background-color: #b28d8d;
}

.navbar-nav li {
    color: #2f2c3d;
}

.navbar-nav li:hover {
    color: white;
}

h1, h2 {
    color: #2f2c3d;
}

table a, table th, a {
    color: #b28d8d;
}

a:hover {
    color: #2f2c3d;
    text-decoration: none;
}
